#signUp {
  .justify-content-end;
}
#logIn {
  text-align: right;
}
.piggyBank {
  background-image: url("./PiggyBank.jpg");
  background-repeat: no-repeat;
  -webkit-logical-height: -webkit-fill-available;
  background-position: center;
}
#alignMiddle {
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 160%;
  color: blue;
  height: 100vh;
}
.table {
  width: 50%;
  float:left;
}
